@page "/"
@inject NavigationManager NavigationManager

<section>
    <div class="container">
        <div class="body">
            <h2>Welcome to your new Project</h2>
            <p>This is a Blazor Webassembly blank template by <strong><a href="mailto:djouflegran@gmail.com">DJOUF</a></strong></p>
        </div>
    </div>
</section>